/* hide dropdown button */
.dropdown-toggle::after {
  display: none !important;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  display: block !important;
}

.custom-dropdown .dropdown-menu {
  margin-top: 7px !important; /* Adjust this value as needed */
}

/* Styling the underline for the menu items */
.nav-link {
  position: relative;
}

@media (min-width: 992px) {
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d46a3b;
    transition: bottom 0.3s ease;
    opacity: 0;
  }

  /* Show underline on hover */
  .nav-link:hover::after {
    bottom: -5px;
    opacity: 1;
  }

  .ethenic-wear::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d46a3b;
    transition: bottom 0.3s ease;
    opacity: 0;
  }

  /* Show underline on hover */
  .ethenic-wear:hover::after {
    bottom: -5px;
    opacity: 1;
  }
}
/* Custom styles for mega menu */
.category-items {
  list-style: none;
  padding: 0;
 }
 
 .category-items li a {
  text-decoration: none;
  color: inherit;
 }
