*
{
    margin: 0;
    padding: 0;
}

#returnRefundExchange
{
    height: auto;
    display: flex;
    padding: 40px 60px 60px 60px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

@media(max-width:600px)
{
    #returnRefundExchange
    {
        padding: 40px 30px 50px 30px;
    }
}